a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
  h1 {
    font-size: 1.2em;
  }
  span {
    font-size: 12px;
    margin-bottom: 1em;
  }
	mat-form-field {
		width: 80%;
    mat-hint {
      font-size: 0.8em;
      color: gray;
    }
		div {
			cursor: pointer;
			mat-icon {
				font-size: 1rem;
			}
		}
	}

  button {
    margin: 1em 0;
  }

}



